<a href="https://colab.research.google.com/github/GabrielGedey/G2-eng-1111/blob/main/ProjetoG1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/drive')
data = pd.read_csv("/drive/MyDrive/Fraud.csv")

Mounted at /drive

In [ ]:
!pip install flask-ngrok
!pip install pyngrok
!ngrok authtoken 2H2w5loFGImrFeVNRoPySyDU3gz_5KtRqcGkg7iLctgmvp7t3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.8/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (3.0.4)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok
  Downloading pyngrok-5.2.1.tar.gz (761 kB)
     |████████████████████████████████| 761 kB 4.0 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.2.1-py3-none-any.whl size=19792 sha256=98952863ed83d665537e8a99e7d76d20fc87e74d658c2dc285a8417f23e2b794
  Stored in directory: /root/.cache/pip/wheels/5d/f2/70/526da675d32f17577ec47ac4c663084efe39d47c826b6c3bb1
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.2.1
Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data.info()
display(data)
abc = data.groupby('type')[['type']].count()
display(abc)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

             type
type
CASH_IN   1399284
CASH_OUT  2237500
DEBIT       41432
PAYMENT   2151495
TRANSFER   532909

In [ ]:
data1 = data.sort_values(by = 'isFraud',ascending = True)
display(data1)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
4238823,306,CASH_IN,38078.32,C1593358770,103853.00,141931.32,C559155475,887734.37,849656.05,0,0
4238822,306,CASH_OUT,51271.65,C621059328,35826.00,0.00,C872232178,3847465.53,3898737.18,0,0
4238821,306,CASH_IN,21460.82,C467644344,10654.00,32114.82,C1361482682,5676.22,0.00,0,0
4238820,306,CASH_OUT,46650.42,C1513297004,187994.00,141343.58,C2078497356,55983.44,102633.86,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5187783,362,TRANSFER,85113.85,C362343173,85113.85,0.00,C2119235078,0.00,0.00,1,0
6279545,644,CASH_OUT,70669.49,C889625469,70669.49,0.00,C778459251,1610179.68,1680849.17,1,0
6279544,644,TRANSFER,70669.49,C1174372985,70669.49,0.00,C770656459,0.00,0.00,1,0
5187769,362,TRANSFER,60314.32,C1597827743,60314.32,0.00,C1103826731,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [ ]:
fraude = data.groupby('isFraud')[['isFraud']].count()
display(fraude)

         isFraud
isFraud
0        6354407
1           8213

In [ ]:
lista_index = []
for i in range(6362620):
  lista_index.append(i)
data1['indice'] = lista_index
data1.set_index('indice',inplace = True)
display(data1)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
indice,,,,,,,,,,,
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,306,CASH_IN,38078.32,C1593358770,103853.00,141931.32,C559155475,887734.37,849656.05,0,0
2,306,CASH_OUT,51271.65,C621059328,35826.00,0.00,C872232178,3847465.53,3898737.18,0,0
3,306,CASH_IN,21460.82,C467644344,10654.00,32114.82,C1361482682,5676.22,0.00,0,0
4,306,CASH_OUT,46650.42,C1513297004,187994.00,141343.58,C2078497356,55983.44,102633.86,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,362,TRANSFER,85113.85,C362343173,85113.85,0.00,C2119235078,0.00,0.00,1,0
6362616,644,CASH_OUT,70669.49,C889625469,70669.49,0.00,C778459251,1610179.68,1680849.17,1,0
6362617,644,TRANSFER,70669.49,C1174372985,70669.49,0.00,C770656459,0.00,0.00,1,0
6362618,362,TRANSFER,60314.32,C1597827743,60314.32,0.00,C1103826731,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [ ]:
lista = []
for n in range(6346407):
  lista.append(n)

In [ ]:
j = 6362619
while j > 6362406:
  j = j - 1
  lista.append(j)

In [ ]:
import pandas as pd
import numpy as np
import random as rnd
import pickle
from google.colab import drive
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.neural_network import MLPRegressor
from sklearn import tree, preprocessing
from sklearn.metrics import  confusion_matrix,accuracy_score,classification_report
from sklearn.ensemble import RandomForestClassifier

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data1['type']= label_encoder.fit_transform(data1['type'])
data1['type']

indice
0          3
1          0
2          1
3          0
4          1
          ..
6362615    4
6362616    1
6362617    4
6362618    4
6362619    1
Name: type, Length: 6362620, dtype: int64

In [ ]:
data_new = data1.drop(['isFlaggedFraud'],axis=1,inplace=False)
uso = data_new.loc[lista]
data_new = data1.drop(lista)
data_new = data_new.reset_index().sample(frac=1)
data_new.drop("indice", inplace = True, axis = 1)
display(data_new)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
5776,183,1,65077.51,C127708341,0.00,0.00,C1118394960,1798785.84,1863863.35,0,0
14036,403,4,2371324.81,C1838733636,2371324.81,0.00,C1533106811,0.00,0.00,1,0
574,182,4,48862.13,C1112534001,7098.00,0.00,C1438513689,2287923.57,2336785.70,0,0
2945,183,0,660895.52,C361979790,57.00,660952.52,C1160935990,0.00,0.00,0,0
3474,183,1,593032.11,C645289462,0.00,0.00,C1259172957,4223456.75,4816488.86,0,0
...,...,...,...,...,...,...,...,...,...,...,...
89,183,0,59231.19,C927021051,3663538.91,3722770.09,C1001347804,197204.45,137973.26,0,0
1405,183,3,4913.58,C1195699476,0.00,0.00,M1329978155,0.00,0.00,0,0
9423,84,4,8380.79,C392060027,8380.79,0.00,C45705350,0.00,0.00,1,0
8284,611,1,582725.12,C1584934652,582725.12,0.00,C795947524,1066408.36,1649133.48,1,0
14191,255,1,38223.11,C687551881,38223.11,0.00,C1460854172,115485.32,153708.43,1,0

In [ ]:
fraude2 = data_new.groupby('isFraud')[['isFraud']].count()
display(fraude2)

         isFraud
isFraud
0           8000
1           8000

In [ ]:
data_uso = uso.iloc[6346257:6346557]
data_uso = data_uso.reset_index().sample(frac=1)

In [ ]:
fraud = data_uso.groupby('isFraud')[['isFraud']].count()
display(fraud)
data_uso = data_uso.drop(["nameOrig", "nameDest"], axis = 1)
data_new = data_new.drop(["nameOrig", "nameDest"], axis = 1)
data_uso.drop("indice", inplace = True, axis = 1)
display(data_uso)

         isFraud
isFraud
0            150
1            150

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
108,182,4,240626.34,2272.00,0.00,0.00,430261.66,0
61,183,1,146677.57,21241.00,0.00,297960.12,444637.69,0
114,183,1,306689.96,104955.00,0.00,294200.63,600890.60,0
248,363,1,7703574.71,7703574.71,0.00,0.00,7703574.71,1
186,25,4,249159.26,249159.26,0.00,0.00,0.00,1
...,...,...,...,...,...,...,...,...
191,408,4,398724.60,398724.60,0.00,0.00,0.00,1
254,488,4,27696.89,27696.89,0.00,0.00,0.00,1
129,183,3,11099.88,21263.00,10163.12,0.00,0.00,0
239,309,1,96474.91,96474.91,0.00,0.00,96474.91,1
270,361,4,299016.86,299016.86,0.00,0.00,0.00,1

In [ ]:
data_new=data_new.sample(frac=1).reset_index(drop=True)

In [ ]:
X = data_new.drop(["isFraud"],axis=1)
y = data_new.isFraud

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1, shuffle= True)
X_train.shape,X_test.shape

((12800, 8), (3200, 8))

In [ ]:
clf = tree.DecisionTreeClassifier(random_state = 1, criterion = "entropy" )
clf = clf.fit(X_train, y_train)
y_pre = clf.predict(X_test)
print(accuracy_score(y_test, y_pre))
print(classification_report(y_test, y_pre))

0.9990625
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1621
           1       1.00      1.00      1.00      1579

    accuracy                           1.00      3200
   macro avg       1.00      1.00      1.00      3200
weighted avg       1.00      1.00      1.00      3200

In [ ]:
clf2 = MLPClassifier(random_state = 1,hidden_layer_sizes = (100, 100), activation = 'relu', solver = 'adam',learning_rate_init = 0.003, max_iter=1000).fit(X_train, y_train)
y_pre = clf2.predict(X_test)
print(accuracy_score(y_test, y_pre))
print(classification_report(y_test, y_pre))

0.97125
              precision    recall  f1-score   support

           0       0.99      0.95      0.97      1621
           1       0.95      0.99      0.97      1579

    accuracy                           0.97      3200
   macro avg       0.97      0.97      0.97      3200
weighted avg       0.97      0.97      0.97      3200

In [ ]:
clf3 = RandomForestClassifier(n_estimators = 500,random_state=1, criterion = 'entropy')
clf3 = clf3.fit(X_train, y_train)
y_pre = clf3.predict(X_test)
print(accuracy_score(y_test, y_pre))
print(classification_report(y_test, y_pre))

0.999375
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1630
           1       1.00      1.00      1.00      1570

    accuracy                           1.00      3200
   macro avg       1.00      1.00      1.00      3200
weighted avg       1.00      1.00      1.00      3200

In [ ]:
arquivo = open('/content/drive/MyDrive/rede_neural.pkl', 'wb')
pickle.dump(clf2, arquivo)
arquivo.close()
arquivo = open('/content/drive/MyDrive/dados_treino_teste', 'wb')
pickle.dump(data_new, arquivo)
arquivo.close()
arquivo = open('/content/drive/MyDrive/dados_uso', 'wb')
pickle.dump(data_uso, arquivo)
arquivo.close()

In [ ]:
from flask import Flask, render_template, request
from flask_ngrok import run_with_ngrok
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
template = '/content/drive/MyDrive/templates'

static = '/content/drive/MyDrive/static'

data = '/content/drive/MyDrive/weight_pred_model.pkl'

data2 = '/content/drive/MyDrive/rede_neural.pkl'


app = Flask(__name__, template_folder = template, static_folder = static)
model = pickle.load(open(data2, 'rb'))

run_with_ngrok(app)


@app.route('/')
def teste ():
  return render_template("Meu.html")

@app.route("/teste")
def teste1():
    return render_template("teste.html")


@app.route('/realteste',methods=['POST'])
def teste2 ():
  lista = []
  tipos = ['CASH_IN','CASH_OUT','DEBIT','PAYMENT','TRANSFER']
  real = [str(x) for x in request.form.values()]
  for el in real:
    if el in tipos:
      for i,el1 in enumerate(tipos):
        if el == el1:
          el1 = i
          print(el1)
          lista.append(el1)
    else:
      lista.append(el)
   
  print(real)
  print(lista)
  final_input = [np.array(lista)]
  print(final_input)
  prediction = model.predict(final_input)
  print(prediction)
  if prediction == [1]:
    resultado = 'Fraudou'
  else:
    resultado = 'Não Fraudou'
  
    
  return render_template("Meu.html",output = 'Resultado : {}'.format(resultado))

if __name__ == '__main__':
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://af33-35-221-130-51.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:04:30] "GET / HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:04:31] "GET /static/aplication.css HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:04:32] "GET /static/fundo.jpg HTTP/1.1" 200 -
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:05:36] "POST /realteste HTTP/1.1" 200 -

4
['408', 'TRANSFER', '398724.60', '398724.60', '0.00', '0.00', '0.00', '1']
['408', 4, '398724.60', '398724.60', '0.00', '0.00', '0.00', '1']
[array(['408', '4', '398724.60', '398724.60', '0.00', '0.00', '0.00', '1'],
      dtype='<U21')]
[1]

INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:05:36] "GET /favicon.ico HTTP/1.1" 404 -
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:06:25] "POST /realteste HTTP/1.1" 200 -

4
['408', 'TRANSFER', '398724.60', '398724.60', '0.00', '0.00', '0.00', '0']
['408', 4, '398724.60', '398724.60', '0.00', '0.00', '0.00', '0']
[array(['408', '4', '398724.60', '398724.60', '0.00', '0.00', '0.00', '0'],
      dtype='<U21')]
[1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:06:48] "POST /realteste HTTP/1.1" 200 -

3
['408', 'PAYMENT', '398724.60', '398724.60', '0.00', '0.00', '0.00', '1']
['408', 3, '398724.60', '398724.60', '0.00', '0.00', '0.00', '1']
[array(['408', '3', '398724.60', '398724.60', '0.00', '0.00', '0.00', '1'],
      dtype='<U21')]
[1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:08:00] "POST /realteste HTTP/1.1" 200 -

4
['408', 'TRANSFER', '398724.60', '398724.60', '0.00', '0.00', '0.00', '5']
['408', 4, '398724.60', '398724.60', '0.00', '0.00', '0.00', '5']
[array(['408', '4', '398724.60', '398724.60', '0.00', '0.00', '0.00', '5'],
      dtype='<U21')]
[1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
INFO:werkzeug:127.0.0.1 - - [08/Dec/2022 16:10:48] "POST /realteste HTTP/1.1" 200 -

0
['0', 'CASH_IN', '500.18', '40284.00', '1.00', '0.00', '0.00', '1']
['0', 0, '500.18', '40284.00', '1.00', '0.00', '0.00', '1']
[array(['0', '0', '500.18', '40284.00', '1.00', '0.00', '0.00', '1'],
      dtype='<U21')]
[1]

In [ ]:
pd.read_pickle('/content/drive/MyDrive/dados_uso')

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
108,182,4,240626.34,2272.00,0.00,0.00,430261.66,0
61,183,1,146677.57,21241.00,0.00,297960.12,444637.69,0
114,183,1,306689.96,104955.00,0.00,294200.63,600890.60,0
248,363,1,7703574.71,7703574.71,0.00,0.00,7703574.71,1
186,25,4,249159.26,249159.26,0.00,0.00,0.00,1
...,...,...,...,...,...,...,...,...
191,408,4,398724.60,398724.60,0.00,0.00,0.00,1
254,488,4,27696.89,27696.89,0.00,0.00,0.00,1
129,183,3,11099.88,21263.00,10163.12,0.00,0.00,0
239,309,1,96474.91,96474.91,0.00,0.00,96474.91,1
270,361,4,299016.86,299016.86,0.00,0.00,0.00,1